<div class="col-md-6 text-center">
    <div id="table-content" align="center">
      <div class="main-title">Menu</div>
      <table id="menu">
        <!-- Menu content goes here -->
          <thead>
                <tr>
                  <th rowspan="2">Item</th>
                  <th colspan="2">Cost (in Rs.)</th>
                </tr>
                <tr>
                  <th>Large</th>
                  <th>Small</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Masala dosa</td>
                  <td>40 Rs/-</td>
                  <td>25 Rs/-</td>
                </tr>
                <tr>
                  <td>Onion dosa</td>
                  <td>35 Rs/-</td>
                  <td>25 Rs/-</td>
                </tr>
                <tr>
                  <td>Plain dosa</td>
                  <td>25 Rs/-</td>
                  <td>20 Rs/-</td>
                </tr>
                <tr>
                  <td>Ravva dosa</td>
                  <td>35 Rs/-</td>
                  <td>25 Rs/-</td>
                </tr>
                <tr>
                  <td>Onion Ravva dosa</td>
                  <td>40 Rs/-</td>
                  <td>30 Rs/-</td>
                </tr>
                <tr>
                  <td>Egg dosa</td>
                  <td>45 Rs/-</td>
                  <td>30 Rs/-</td>
                </tr>
                <tr>
                  <td>Pesarattu</td>
                  <td>35 Rs/-</td>
                  <td>25 Rs/-</td>
                </tr>
                <tr>
                  <td colspan="3" style="background-color: rgba(199, 99, 81, 0.967);color:white;font-weight: 500"><strong>Drinks:</strong></td>
                </tr>
                <tr>
                  <td>Bottled water</td>
                  <td>20 Rs/-</td>
                  <td>10 Rs/-</td>
                </tr>
                <tr>
                  <td>Sprite</td>
                  <td>30 Rs/-</td>
                  <td>10 Rs/-</td>
                </tr>
                <tr>
                  <td>Thumps up</td>
                  <td>30 Rs/-</td>
                  <td>10 Rs/-</td>
                </tr>
                <tr>
                  <td>Slice</td>
                  <td>30 Rs/-</td>
                  <td>10 Rs/-</td>
                </tr>
                <tr>
                  <td>Maaza</td>
                  <td>30 Rs/-</td>
                  <td>10 Rs/-</td>
                </tr>
                <tr>
                  <td colspan="3" style="background-color: rgba(199, 99, 81, 0.967);color:white;font-weight: 500"><strong>Types of Tea</strong></td>
                </tr>
                <tr>
                  <td>Normal Tea</td>
                  <td colspan="2">10 Rs/-</td>
                </tr>
                <tr>
                  <td>Special Tea</td>
                  <td colspan="2">20 Rs/-</td>
                </tr>
                <tr>
                  <td>Elachi Tea</td>
                  <td colspan="2">15 Rs/-</td>
                </tr>
                <tr>
                  <td>Green Tea</td>
                  <td colspan="2">15 Rs/-</td>
                </tr>
                <tr>
                  <td colspan="3" style="background-color: rgba(199, 99, 81, 0.967);color:white; font-weight: 500;"><strong>Types of Coffee</strong></td>
                </tr>
                <tr>
                  <td>Black coffee</td>
                  <td colspan="2">20 Rs/-</td>
                </tr>
                <tr>
                  <td>Normal coffee</td>
                  <td colspan="2">15 Rs/-</td>
                </tr>
                <tr>
                  <td>Filtered coffee</td>
                  <td colspan="2">30 Rs/-</td>
                </tr>
              </tbody>
      </table>
    </div>
  </div>
</div>
